@keyframes scroll1 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
body, html, p {
    margin:0;
    font-family: 'Arimo', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding:2rem;
}
.filler {
    background-color: lightseagreen;
    display:flex;
    padding:1rem;
}
    .filler img {
        display: block;
        border-radius: 5rem;
        flex:1;
        max-width:50%;
        height:auto;
        object-fit: cover;
    }
    .filler p {
        padding: 2rem;
        font-size:1rem;
        flex:1;
    }
.rail {
    overflow: hidden;
    white-space: nowrap;
    font-size:10rem;
    position:relative;
    min-height:12rem;
}
.scrollMe1 {
    display:inline-block;
    position:absolute;
    top:0;
}
.scrollMe2 {
    display:inline-block;
    position:absolute;
}