@keyframes scroll1 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
body, html {
    margin:0;
}
main {
    overflow: hidden;
    white-space: nowrap;
    font-size:10rem;
    position:relative;
    min-height:100vh;
    margin: 1000px 0;
}
p {
    margin:0;
}
.scrollMe1 {
    display:inline-block;
    position:absolute;
    top:0;
}
.scrollMe2 {
    display:inline-block;
    position:absolute;
}