@keyframes scroll1 {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}
body, html {
    margin:0;
    font-family: 'Arimo', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding:2rem;
}
main {
    overflow: hidden;
    white-space: nowrap;
    font-size:10rem;
    position:relative;
    min-height:100vh;
    margin: 500px 0 100px 0;
}
p {
    margin:0;
}
.scrollMe1 {
    display:inline-block;
    position:absolute;
    top:0;
}
.scrollMe2 {
    display:inline-block;
    position:absolute;
}